# Ignore general files
.env
.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.log
*.sqlite

# Ignore specific directories
/assets
/styles
/pages/.ipynb_checkpoints
/.streamlit

# Ignore Google Cloud specific files
secrets.toml
