[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pillow = "*"
mysqlclient = "*"
sqlalchemy = "*"
openai = "*"
load-dotenv = "*"
google-cloud-bigquery = "*"
streamlit-option-menu = "*"
pandasai = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.9"
